html, body, #root {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #1F1F1F;
}

#topHalf {
  margin-top: 2vh;
  display: flex;
  width: 100% !important;
  height: 40% !important;
  justify-content: center;
  align-items: center;
}

#tNav {
  width: 100%;
  height: 5vw;
  left: 0;
  background-color: #282828;
  box-shadow: 0px 3px rgba(40, 40, 40, 0.1);
  display: flex;
  align-items: center;
  justify-content: right;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#ChannelInfo, #LatestVideo {
  width: 80%;
  height: 40%;
  position: relative;
  display: flex;
  background-color: #282828;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.5vw;
  margin: auto;
  margin-top: 2vh;
  flex-direction: column;
  min-height: 350px;
}

#LatestVideo {
  width: 50% !important;
}

#ChannelNameIcon{
  width: auto;
  height: 30%;
  margin: 2vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
}

#ChannelIcon {
  width: auto;
  height: 80%;
  background-color: #282828;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#TextHolder {
  margin-left: 2vw;
  width: 100%;
  height: 80%;
  color: white;
  font-size: 2em;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

#ChannelLink {
  text-align: center;
  font-family: 'Roboto', sans-serif ;
  font-size: 100%;
  color: white;
  white-space: pre-line;
  padding: 0;
  margin: 0;
}

#OpenStudio {
  text-align: center;
  font-family: 'Roboto', sans-serif ;
  font-size: 50%;
  color: red;
  white-space: pre-line;
  padding: 0;
  margin: 0;
}

#ChannelStatistics {
  width: auto;
  height: 100%;
  margin: 2vw;
  display: flex;
  flex-direction: column;
}

#ChannelStatistics div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 125%;
  user-select: none;
  margin-top: auto;
}

#ChannelStatistics div div:last-child {
  margin-left: auto;
  flex: 1;
}

#TextHolder a:hover{
  text-decoration: underline;
}

#All {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  top: 10%;
  background-color: #282828;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 2vh;
  flex-direction: column;
  min-width: 100vw;
}

#AddVideo {
  width: 80%;
  height: 15%;
  background-color: #282828;
  position: absolute;
  left: 10%;
  bottom: 8vh;
  border-radius: 250px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}

#AddVideo span {
  user-select: none;
  font-size: xx-large;
  font-weight: bold;
}

#AddVideo:hover {
  background-color: #1F1F1F;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}


#Overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #282828;
  top: 0;
  left: 0;
  user-select: none;
  display: flex;
  justify-content: left;
}

#ThumbnailTitle {
  width: 50vw;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5%;
}

#Desciption {
  width: 60vw;
  min-width: 480px;
  padding-top: 0;
  margin: 0.5%;
}
#Thumbnail{
  width: 100%;
  height: 15%;
  flex: 0 1 auto;
}
#Title {
  width: 100%;
  height: 15%;
  flex: 0 1;
}

#Thumbnail {
  height: auto;
  width: 100%;
  background-color: black;
  border: none !important;
  aspect-ratio: 16 / 9;
}

#Notes {
  height: auto;
  margin-top: 1.5%;
  width: 100%;
  flex: 1 1 auto;
}

#Title {
  margin-top: 5px;
}

#RED *{
  color: red;
}

#BLK *{
  color: white;
}

.form-control:focus + .form-label {
  color: red;
  background-color: transparent;
} 

textarea, input {
  resize: none !important;
  overflow-y: auto;
  background-color: transparent !important;
}