html, body, #root {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #1F1F1F;
  overflow-y: auto;
}

#topHalf {
  margin-top: 2vh;
  display: flex;
  width: 100% !important;
  height: 40% !important;
  justify-content: center;
  align-items: center;
}

#tNav {
  width: 100%;
  height: 5vw;
  left: 0;
  background-color: #282828;
  box-shadow: 0px 3px rgba(40, 40, 40, 0.1);
  display: flex;
  align-items: center;
  justify-content: right;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#ChannelInfo, #LatestVideo {
  width: 80%;
  height: 45%;
  position: relative;
  display: flex;
  background-color: #282828;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1.5vw;
  margin: auto;
  margin-top: 2vh;
  flex-direction: column;
  min-height: 350px;
}

#LatestVideo {
  width: 50% !important;
}

#ChannelNameIcon{
  width: auto;
  height: 30%;
  margin: 2vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
}

#ChannelIcon {
  width: auto;
  height: 80%;
  background-color: #282828;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#TextHolder {
  margin-left: 2vw;
  width: 100%;
  height: 80%;
  color: white;
  font-size: 2em;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

#ChannelLink {
  text-align: center;
  font-family: 'Roboto', sans-serif ;
  font-size: 100%;
  color: white;
  white-space: pre-line;
  padding: 0;
  margin: 0;
}

#OpenStudio {
  text-align: center;
  font-family: 'Roboto', sans-serif ;
  font-size: 50%;
  color: red;
  white-space: pre-line;
  padding: 0;
  margin: 0;
}

#ChannelStatistics {
  width: auto;
  height: auto;
  margin-left: 2vw;
  margin-right: 2vw;
  display: grid;
  grid-template-rows: repeat(4,1fr);
  margin-bottom: 5%;
}

#ChannelStatistics div {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 125%;
  user-select: none;
  margin-top: auto;
  color: white !important;
}

#StorageSpace {
  height: 8% !important;
}

#ChannelStatistics div div:last-child {
  margin-left: auto;
  flex: 1;
}

#TextHolder a:hover{
  text-decoration: underline;
}

#AddVideo {
  width: 80%;
  height: 15%;
  background-color: #282828;
  position: absolute;
  left: 10%;
  bottom: 8vh;
  border-radius: 250px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}

#AddVideo span {
  user-select: none;
  font-size: xx-large;
  font-weight: bold;
}

#AddVideo:hover {
  background-color: #1F1F1F;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}


#Overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #282828;
  top: 0;
  left: 0;
  user-select: none;
  display: flex;
  justify-content: left;
}

#OverlayTop {
  width: 100%;
  height: 100%;
  position: -webkit-sticky !important;
  position: sticky !important;
  z-index: 999 !important;
  background-color: #282828;
  top: 0;
  user-select: none;
  display: grid;
  grid-template-rows: 8% 92%;
  grid-template-columns: 100%;
}

#Overlay2 {
  width: 100%;
  height: 100%;
  background-color: #282828;
  user-select: none;
  display: flex;
  justify-content: left;
}

#ThumbnailTitle {
  width: 50vw;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.5%;
}

#Desciption {
  width: 60vw;
  min-width: 480px;
  padding-top: 0;
  margin: 0.5%;
}
#Thumbnail{
  width: 100%;
  height: 15%;
  flex: 0 1 auto;
}
#Title {
  width: 100%;
  height: 15%;
  flex: 0 1;
}

#Thumbnail {
  height: auto;
  width: 100%;
  background-color: black;
  border: none !important;
  aspect-ratio: 16 / 9;
  border: 1px solid rgba(255,255,255, 1) !important;
  border-radius: 2%;
  transition: border 0.2 ease-in-out;
}

.form-control {
  border: 1px solid rgba(255,255,255, 0.5) !important;
}

.form-control:hover {
  border: 1px solid rgba(255,255,255, 1) !important;
}

.form-control:active {
  border: 1px solid rgba(255,255,255, 1) !important;
}

.form-control:focus {
  box-shadow: 0;
}

#Notes {
  height: auto;
  margin-top: 1.5%;
  width: 100%;
  flex: 1 1 auto;
}

#Title {
  margin-top: 5px;
}


#RED *{
  color: red;
}

#BLK *{
  color: white;
}

textarea, input {
  resize: none !important;
  overflow-y: auto;
  background-color: #1F1F1F !important;
}

/** Hides Background of Floating Text Labels */
.form-floating>.form-control-plaintext~label::after, .form-floating>.form-control:focus~label::after, .form-floating>.form-control:not(:placeholder-shown)~label::after, .form-floating>.form-select~label::after {
  background-color: transparent !important;
}

#EditNavbar {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

#BackButton {
  background-color: transparent;
  width: auto;
  height: 100%;
  border-radius: 0;
  transition: all 0.5s ease;
}

#BackButton img{
  width: 100%;
  height: 40%;
  filter: invert(53%) sepia(88%) saturate(2828%) hue-rotate(160deg) brightness(999%) contrast(101%);
}

#BackButton:hover {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.05);
}

#SaveButton {
  background-color: transparent;
  width: auto;
  height: 100%;
  border-radius: 0;
  transition: all 0.5s ease;
  margin-left: auto;
  font-size: large;
}


#SaveButton:hover {
  border: 1px solid green;
  background-color: rgba(0, 255, 0, 0.05);
}

#videoID {
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  text-transform: uppercase;
  background-color: transparent;
  user-select: none;
  pointer-events: none;
}

#videoID:hover , #videoID:active, #videoID:focus, #videoID:focus-visible {
  border: none !important;
  outline: none !important;
}

@property --subscribers {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@property --views {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@property --videos {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

@property --storage {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.subs {
  transition: --subscribers 1.25s ease-in;
  counter-reset: subscribers var(--subscribers);
}
.subs::after {
  content: counter(subscribers);
}
.views {
  transition: --views 1.25s ease-in;
  counter-reset: views var(--views);
}
.views::after {
  content: counter(views);
}
.videos {
  transition: --videos 1.25s ease-in;
  counter-reset: videos var(--videos);
}
.videos::after {
  content: counter(videos);
}
.storage {
  transition: --storage 1.25s ease-in;
  counter-reset: storage var(--storage);
}
.storage::after {
  content: counter(storage);
}


#All {
  width: 100%;
  height: auto;
  display: grid;
  margin-top: 5%;
  background-color: #282828;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(min(100% / 3, max(480px, 100% / 5)), 1fr));
  grid-gap: 1%;
}

#All div{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  border: 1px solid rgba(255,255,255, 0.5) !important;
  text-align: center;
  display: grid;
  user-select: none;
}

#All div img {
  width: auto;
  height: auto;
  border: 1px solid rgba(255,255,255, 0.5);
}

#All div:hover , #All div:active, #All div:focus{
  border: 1px solid rgba(255,255,255, 1) !important;
  background-color: #121212;
}

.HIDE {
  display: none !important;
}

.SHOW {
  display: block;
}

#UploadDownload {
  padding-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#UploadDownload button {
  background-color: #1F1F1F;
  border: 1px solid rgba(255,255,255, 0.5) !important;
}


#UploadDownload button:hover , #UploadDownload button:active, #UploadDownload button:focus{
  border: 1px solid rgba(255,255,255, 1) !important;
  background-color: #121212;
}